/node_modules
/vendor
/build
/docs

*.log
.sass-cache
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
Thumbs.db
*.sublime-*
*.idea
.idea
.vscode

composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
